# Ignore node_modules folder
node_modules/
temp/

# Optional: Ignore environment variables
.env

# Optional: Ignore build output folders
dist/
build/

# Optional: OS or editor-specific
.DS_Store
*.log
